$crossover-white: #fff;
$crossover-black: #000;

/* Pending State colors */
$pending-border-color: #cacbcd;
$pending-background-color: #f7f9fc;
$pending-font-color: #8d8f99;
$pending-measure-color: #d8d8d8;

/* Running State colors */
$running-border-color: #4c86b7;
$running-background-color: #eef2f8;
$running-font-color: #465b7f;
$running-measure-color: #5e9cd3;

/* Done (Completed or Accepted) State colors */
$done-border-color: #578e31;
$done-background-color: #eef3ec;
$done-font-color: #415c32;
$done-measure-color: #548039;

/* Wrong (Fail or Rejected) State colors */
$wrong-border-color: #bc0008;
$wrong-background-color: #fbe5e5;
$wrong-font-color: #c52c39;
$wrong-measure-color: #be0712;

/* Ok, Warning and Dangerous colors */
$ok-font-color: #a1c444;
$warning-font-color: #be8f1f;
$danger-font-color: #bc0008;
$not-passed-font-color: #eb7d3b;

/* Opacity definitions */
@mixin opacity($level) {
  -moz-opacity: $level;
  -khtml-opacity: $level;
  opacity: $level;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=$level*100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$level*100);
  filter: alpha(opacity=$level*100);
}

/* Default fadeIn/fadeOut animation */
@mixin fade-in-out-animation($inner_class) {
  &.animate-repeat.ng-move $inner_class,
  &.animate-repeat.ng-enter $inner_class,
  &.animate-repeat.ng-leave $inner_class {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  &.animate-repeat.ng-leave.ng-leave-active $inner_class,
  &.animate-repeat.ng-move $inner_class,
  &.animate-repeat.ng-enter $inner_class {
    @include opacity(0);
  }

  &.animate-repeat.ng-leave $inner_class,
  &.animate-repeat.ng-move.ng-move-active $inner_class,
  &.animate-repeat.ng-enter.ng-enter-active $inner_class {
  @include opacity(1);
  }
}

/* Gradient for item rows */
@mixin row-gradient($base-color) {
  /* IE10+ */
  background-image: -ms-linear-gradient(left, $base-color 0%, #FFFFFF 25%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, $base-color 0%, #FFFFFF 25%);

  /* Opera */
  background-image: -o-linear-gradient(left, $base-color 0%, #FFFFFF 25%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $base-color), color-stop(25, #FFFFFF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, $base-color 0%, #FFFFFF 25%);

  /* W3C Markup */
  background-image: linear-gradient(to right, $base-color 0%, #FFFFFF 25%);
}

/* Gradient for item measurements */
@mixin row-measure-gradient($base-color) {
  /* IE10+ */
  background-image: -ms-linear-gradient(top left, $base-color 0%, #FFFFFF 30%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, $base-color 0%, #FFFFFF 30%);

  /* Opera */
  background-image: -o-linear-gradient(top left, $base-color 0%, #FFFFFF 30%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, $base-color), color-stop(30, #FFFFFF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, $base-color 0%, #FFFFFF 30%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom right, $base-color 0%, #FFFFFF 30%);
}

/* Box shadow for item measurements */
@mixin measure-block-shadow-box() {
  -webkit-box-shadow: 3px 3px 7px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 3px 3px 7px 1px rgba(170, 170, 170, 1);
  box-shadow: 3px 3px 7px 1px rgba(170, 170, 170, 1);
}