$crossover-white: #fff;
$crossover-black: #000;

/* Pending State colors */
$pending-border-color: #cacbcd;
$pending-background-color: #f7f9fc;
$pending-font-color: #8d8f99;
$pending-measure-color: #d8d8d8;

/* Running State colors */
$running-border-color: #4c86b7;
$running-background-color: #eef2f8;
$running-font-color: #465b7f;
$running-measure-color: #5e9cd3;

/* Done (Completed or Accepted) State colors */
$done-border-color: #578e31;
$done-background-color: #eef3ec;
$done-font-color: #415c32;
$done-measure-color: #548039;

/* Wrong (Fail or Rejected) State colors */
$wrong-border-color: #bc0008;
$wrong-background-color: #fbe5e5;
$wrong-font-color: #c52c39;
$wrong-measure-color: #be0712;

/* Ok, Warning and Dangerous colors */
$ok-font-color: #a1c444;
$warning-font-color: #be8f1f;
$danger-font-color: #bc0008;
$not-passed-font-color: #eb7d3b;
/*

/* Default fadeIn/fadeOut animation */
@mixin fade-in-out-animation() {
  &.animate-repeat.ng-move,
  &.animate-repeat.ng-enter,
  &.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  &.animate-repeat.ng-leave.ng-leave-active,
  &.animate-repeat.ng-move,
  &.animate-repeat.ng-enter {
    opacity:0;
  }

  &.animate-repeat.ng-leave,
  &.animate-repeat.ng-move.ng-move-active,
  &.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
  }
}

/* Opacity definitions */
@mixin opacity($level) {
  -moz-opacity: $level;
  -khtml-opacity: $level;
  opacity: $level;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=$level*100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$level*100);
  filter: alpha(opacity=$level*100);
}