@import 'variables';

/* Color texts */
.color-green {
  color: $done-font-color;
}

.color-red {
  color: $wrong-font-color;
}

.color-gray {
  color: $pending-font-color;
}

.color-blue {
  color: $running-font-color;
}

.color-yellow, .color-warning {
  color: $warning-font-color;
}

.color-ok {
  color: $ok-font-color;
}

.color-danger {
  color: $danger-font-color;
}

.color-white {
  color: $crossover-white;
}

.color-black {
  color: $crossover-black;
}

.crossover-header {
  p.lead {
    margin-bottom: 5px;
  }
}

.x-large {
  font-size: 28px;
}

.x-medium {
  font-size: 22px;
}

.line-height-x-large {
  line-height: 28px;
}

.x-small {
  font-size: 11px;
}

.line-height-x-small {
  line-height: 11px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.ellipsis-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Added 5 columns row CSS entries */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.padded {
  padding: 10px;
}

.padded-top {
  padding-top: 10px;
}

.padded-bottom {
  padding-bottom: 10px;
}

.padded-right {
  padding-right: 10px;
}

.padded-left {
  padding-left: 10px;
}

/* Sprite classes for images */
.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-arrow-down-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-arrow-down-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -75px -5px;
}

.sprite-arrow-down-green-60px {
  width: 60px;
  height: 60px;
  background-position: -145px -5px;
}

.sprite-arrow-down-red-60px {
  width: 60px;
  height: 60px;
  background-position: -215px -5px;
}

.sprite-arrow-down-yellow-60px {
  width: 60px;
  height: 60px;
  background-position: -285px -5px;
}

.sprite-arrow-left-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -5px -75px;
}

.sprite-arrow-left-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -75px -75px;
}

.sprite-arrow-left-green-60px {
  width: 60px;
  height: 60px;
  background-position: -145px -75px;
}

.sprite-arrow-left-red-60px {
  width: 60px;
  height: 60px;
  background-position: -215px -75px;
}

.sprite-arrow-left-yellow-60px {
  width: 60px;
  height: 60px;
  background-position: -285px -75px;
}

.sprite-arrow-right-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -5px -145px;
}

.sprite-arrow-right-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -75px -145px;
}

.sprite-arrow-right-green-60px {
  width: 60px;
  height: 60px;
  background-position: -145px -145px;
}

.sprite-arrow-right-red-60px {
  width: 60px;
  height: 60px;
  background-position: -215px -145px;
}

.sprite-arrow-right-yellow-60px {
  width: 60px;
  height: 60px;
  background-position: -285px -145px;
}

.sprite-arrow-up-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -4px -215px;
}

.sprite-arrow-up-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -74px -215px;
}

.sprite-arrow-up-green-60px {
  width: 60px;
  height: 60px;
  background-position: -144px -215px;
}

.sprite-arrow-up-red-60px {
  width: 60px;
  height: 60px;
  background-position: -214px -215px;
}

.sprite-arrow-up-yellow-60px {
  width: 60px;
  height: 60px;
  background-position: -284px -215px;
}

.sprite-computer-blue-25px {
  width: 25px;
  height: 25px;
  background-position: -5px -285px;
}

.sprite-computer-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -40px -285px;
}

.sprite-computer-gray-25px {
  width: 25px;
  height: 25px;
  background-position: -110px -285px;
}

.sprite-computer-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -145px -285px;
}

.sprite-computer-green-25px {
  width: 25px;
  height: 25px;
  background-position: -215px -285px;
}

.sprite-computer-green-60px {
  width: 60px;
  height: 60px;
  background-position: -250px -285px;
}

.sprite-computer-red-25px {
  width: 25px;
  height: 25px;
  background-position: -320px -285px;
}

.sprite-computer-red-60px {
  width: 60px;
  height: 60px;
  background-position: -355px -5px;
}

.sprite-wall-blue-25px {
  width: 25px;
  height: 25px;
  background-position: -355px -75px;
}

.sprite-wall-blue-60px {
  width: 60px;
  height: 60px;
  background-position: -355px -110px;
}

.sprite-wall-gray-25px {
  width: 25px;
  height: 25px;
  background-position: -390px -75px;
}

.sprite-wall-gray-60px {
  width: 60px;
  height: 60px;
  background-position: -355px -180px;
}

.sprite-wall-green-25px {
  width: 25px;
  height: 25px;
  background-position: -355px -250px;
}

.sprite-wall-green-60px {
  width: 60px;
  height: 60px;
  background-position: -355px -285px;
}

.sprite-wall-red-25px {
  width: 25px;
  height: 25px;
  background-position: -390px -250px;
}

.sprite-wall-red-60px {
  width: 60px;
  height: 60px;
  background-position: -5px -355px;
}

/* Coverage Bar Directive */
.coverage-bar {
  height: 30px;
  position: relative;

  .filled, .unfilled {
    height: 100%;
    @include opacity(0.5);
  }

  .filled {
    background-color: $ok-font-color;
  }

  .unfilled {
    background-color: $not-passed-font-color;
  }

  p.legend {
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    font-weight: normal;
  }
}