@import 'variables';

.crossover-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;

  /* Pending State */
  &.primary-color-gray {
    border: 2px solid $pending-border-color;
    @include row-gradient($pending-background-color);
    color: $pending-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $pending-measure-color;
    }

    .measure_block {
      border-color: $pending-border-color;
      @include row-measure-gradient($pending-background-color);
    }
  }

  &.primary-color-blue {
    border: 2px solid $running-border-color;
    @include row-gradient($running-background-color);
    color: $running-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $running-measure-color;
    }

    .measure_block {
      border-color: $running-border-color;
      @include row-measure-gradient($running-background-color);
    }
  }

  &.primary-color-green {
    border: 2px solid $done-border-color;
    @include row-gradient($done-background-color);
    color: $done-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $done-measure-color;
    }

    .measure_block {
      border-color: $done-border-color;
      @include row-measure-gradient($done-background-color);
    }
  }

  &.primary-color-red {
    border: 2px solid $wrong-border-color;
    @include row-gradient($wrong-background-color);
    color: $wrong-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $wrong-measure-color;
    }

    .measure_block {
      border-color: $wrong-border-color;
      @include row-measure-gradient($wrong-background-color);
    }
  }

  .progress.failed .progress-bar {
    background-color: $wrong-measure-color;
  }

  .item-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
  }

  /* Progress bar in <measure-bar> */
  measure-bar {
    @include fade-in-out-animation(".progress");

    &.animate-hide .progress {
      transition: all linear 0.5s;
      @include opacity(1);
    }

    &.animate-hide.ng-hide .progress {
      @include opacity(0);
    }
  }

  .progress {
    margin: 0 auto;
  }

  /* Animate item entrance */
  @include fade-in-out-animation("");

  .measure_block {
    @include measure-block-shadow-box();
    border: 2px solid;
    height: 221px;
    position: relative;
    cursor: pointer;

    .extra-margin {
      margin-top: 35px;
    }

    .metric-critery, .build-critery {
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: $crossover-white;
      margin: 0 auto;
    }

    .metric-critery + p, .build-critery + p {
      color: $crossover-black;
    }

    .flow-bottom {
      position: absolute;
      bottom: 10px;
      left: 0px;
      right: 0px;
      color: $crossover-black;
    }

    .chart-container {
      position: absolute;
      left: -36px;
      margin-top: 18px;
    }

    .aligned-to-graphic {
      margin-top: 36px;
    }
  }
}