@import 'variables';

.crossover-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;

  /* Pending State */
  &.primary-color-gray {
    border: 2px solid $pending-border-color;
    background-color: $pending-background-color;
    color: $pending-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $pending-measure-color;
    }

    .measure_block {
      border-color: $pending-border-color;
    }
  }

  &.primary-color-blue {
    border: 2px solid $running-border-color;
    background-color: $running-background-color;
    color: $running-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $running-measure-color;
    }

    .measure_block {
      border-color: $running-border-color;
    }
  }

  &.primary-color-green {
    border: 2px solid $done-border-color;
    background-color: $done-background-color;
    color: $done-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $done-measure-color;
    }

    .measure_block {
      border-color: $done-border-color;
    }
  }

  &.primary-color-red {
    border: 2px solid $wrong-border-color;
    background-color: $wrong-background-color;
    color: $wrong-font-color;

    .progress .progress-bar {
      background-image: none;
      background-color: $wrong-measure-color;
    }

    .measure_block {
      border-color: $wrong-border-color;
    }
  }

  .progress.failed .progress-bar {
    background-color: $wrong-measure-color;
  }

  .item-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
  }

  /* Progress bar in <measure-bar> */
  measure-bar {
    &.animate-repeat.ng-move .progress,
    &.animate-repeat.ng-enter .progress,
    &.animate-repeat.ng-leave .progress {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }

    &.animate-repeat.ng-leave.ng-leave-active .progress,
    &.animate-repeat.ng-move .progress,
    &.animate-repeat.ng-enter .progress {
      opacity:0;
    }

    &.animate-repeat.ng-leave .progress,
    &.animate-repeat.ng-move.ng-move-active .progress,
    &.animate-repeat.ng-enter.ng-enter-active .progress {
      opacity:1;
    }

    &.animate-hide .progress {
      transition: all linear 0.5s;
      opacity: 1;
    }

    &.animate-hide.ng-hide .progress {
      opacity: 0;
    }
  }

  .progress {
    margin: 0 auto;
  }

  /* Animate item entrance */
  @include fade-in-out-animation();

  .measure_block {
    border: 2px solid;
    height: 221px;
    position: relative;

    .extra-margin {
      margin-top: 35px;
    }

    .metric-critery, .build-critery {
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: $crossover-white;
      margin: 0 auto;
    }

    .metric-critery + p, .build-critery + p {
      color: $crossover-black;
    }

    .flow-bottom {
      position: absolute;
      bottom: 10px;
      left: 0px;
      right: 0px;
      color: $crossover-black;
    }

    .chart-container {
      position: absolute;
      left: -36px;
      margin-top: 18px;
    }

    .aligned-to-graphic {
      margin-top: 36px;
    }
  }


}