/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.col-xs-15 {
  width: 20%;
  float: left;
}

.text-left-xs {
  text-align: left;
}

.text-center-xs {
  text-align: center;
}

.text-right-xs {
  text-align: right;
}

.crossover-item {
  .item-field {
    height: 30px;
    line-height: 30px;
  }

  .measure_block {
    .chart-container {
      margin-top: 0px;

      canvas {
        max-width: 270px;
        max-height: 135px;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .crossover-item {
    .item-field {

      .item-icon {
        margin-top: 2px;
      }

      .progress {
        max-width: 66px;
      }
    }

    .measure-content {
      padding-top: 5px;
    }

    .measure_block {
      .chart-container {
        margin-top: 18px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }

  .text-left-md {
    text-align: left;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }
}