<div class="measure_block padded-left padded-right">
    <h5>Build</h5>
    <div class="row extra-margin">
        <div class="col-md-6 col-sm-6 col-xs-6 text-center debug-section" ng-if="itemBuild.categories.debug">
            <div class="build-critery sprite sprite-computer-blue-60px"></div>
            <p>Debug</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center release-section" ng-if="itemBuild.categories.release">
            <div class="build-critery sprite sprite-computer-blue-60px"></div>
            <p>Release</p>
        </div>
    </div>
    <div class="flow-bottom text-center">
        {{ itemBuild.last_update | date: 'MM/dd/yyyy h:mma' | lowercase }}
    </div>
</div>