<div ng-controller="ItemCtrl">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <img ng-src="{{'/assets/images/' + item.getItemPicture()}}" alt="Item" class="item-icon"/>
        {{ item.data.code }}
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">{{ item.data.owner }}</div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">{{ item.data.time_started | date: 'MM/dd/yyyy h:mma' | lowercase }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-right">{{ item.getResultState() }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide ng-hide-animate" ng-show="!item.expanded" measure-data="item.data.measures.metrics"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide ng-hide-animate" ng-show="!item.expanded" measure-data="item.data.measures.build"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide ng-hide-animate" ng-show="!item.expanded" measure-data="item.data.measures.unit_test"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide ng-hide-animate" ng-show="!item.expanded" measure-data="item.data.measures.functional_test"></measure-bar>
    </div>
    <div uib-collapse="!item.expanded" class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-15 col-sm3">1</div>
            <div class="col-md-15 col-sm3">2</div>
            <div class="col-md-15 col-sm3">3</div>
            <div class="col-md-15 col-sm3">4</div>
            <div class="col-md-15 col-sm3">5 {{ item.data.code }}</div>
        </div>
    </div>
</div>