<div ng-controller="ItemCtrl">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div ng-class="'sprite item-icon sprite-' + ((item.isBuild())? 'computer':'wall' ) + '-' + item.getColorClass() + '-25px'"></div>
        <span style="vertical-align: top">{{ item.data.code }}</span>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">{{ item.data.owner }}</div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">{{ item.data.time_started | date: 'MM/dd/yyyy h:mma' | lowercase }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-right">{{ item.getResultState() }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.metrics"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.build"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.unit_test"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.functional_test"></measure-bar>
    </div>
    <div uib-collapse="!item.expanded" class="col-md-12 col-sm-12 col-xs-12">
        <div class="row padded-top">
            <div class="col-md-15 col-sm3">
                <div class="measure_block padded-left padded-right">
                    <h5>Metrics</h5>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <div class="metric-critery sprite sprite-arrow-down-red-60px">
                                64
                            </div>
                            <p>Test</p>
                        </div>
                        <div class="col-md-7 text-center">
                            <div class="metric-critery sprite sprite-arrow-up-green-60px">
                                12
                            </div>
                            <p>Maintainability</p>
                        </div>
                        <div class="col-md-5 text-center">
                            <div class="metric-critery sprite sprite-arrow-left-yellow-60px">
                                67
                            </div>
                            <p>Security</p>
                        </div>
                        <div class="col-md-7 text-center">
                            <div class="metric-critery sprite sprite-arrow-right-blue-60px">
                                11
                            </div>
                            <p>Workmanship</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm3">
                <div class="measure_block padded-left padded-right">
                    <h5>Build</h5>
                    <div class="row extra-margin">
                        <div class="col-md-6 text-center">
                            <div class="build-critery sprite sprite-computer-blue-60px"></div>
                            <p>Debug</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="build-critery sprite sprite-computer-blue-60px"></div>
                            <p>Release</p>
                        </div>
                    </div>
                    <div class="flow-bottom text-center">
                        {{ 4424424232 | date: 'MM/dd/yyyy h:mma' | lowercase }}
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm3">
                <div class="measure_block padded-left padded-right">
                    <h5>Unit Test</h5>
                    <div class="row">
                        <div class="text-center">
                            <canvas id="{{'unit-test-' + item.data.id}}"
                                    height="100" width="200"
                                    class="chart chart-pie"
                                    chart-options="{global: {tooltips: {enabled: false}}}"
                                    chart-data="[140,10]" chart-labels="['Passed','Failed']" chart-colours="['#72ac4d', '#eb7d3b']">
                            </canvas>
                        </div>
                        <div class="col-md-6 col-md-offset-6 text-center aligned-to-graphic">
                            <color-percent extra-class="'x-large'" percent="0.75"></color-percent>
                            <p class="text-center x-small color-black">tests passed</p>
                        </div>
                    </div>
                    <div class="flow-bottom text-center">
                        <coverage-percent percent="0.59"></coverage-percent>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm3">
                <div class="measure_block padded-left padded-right">
                    <h5>Functional Test</h5>
                    <div class="row">
                        <div class="text-center">
                            <canvas id="{{'functional-test-' + item.data.id}}"
                                    height="100" width="200"
                                    class="chart chart-pie"
                                    chart-options="{tooltips: {enabled: false}}"
                                    chart-data="[4321,2145]" chart-labels="['Passed','Failed']" chart-colours="['#72ac4d', '#eb7d3b']">
                            </canvas>
                        </div>
                        <div class="col-md-6 col-md-offset-6 text-center aligned-to-graphic">
                            <color-percent extra-class="'x-large'" percent="0.68"></color-percent>
                            <p class="text-center x-small color-black">tests passed</p>
                        </div>
                    </div>
                    <div class="flow-bottom text-center">
                        <coverage-percent percent="0.76"></coverage-percent>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm3">
                <div class="padded-left padded-right">
                    <p>Result</p>
                </div>
            </div>
        </div>
    </div>
</div>