<div ng-controller="ItemCtrl">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div ng-class="'sprite item-icon sprite-' + ((item.isBuild())? 'computer':'wall' ) + '-' + item.getColorClass() + '-25px'"></div>
        <span style="vertical-align: top">{{ item.data.code }}</span>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">{{ item.data.owner }}</div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">{{ item.data.time_started | date: 'MM/dd/yyyy h:mma' | lowercase }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-right">{{ item.getResultState() }}</div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.metrics"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.build"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.unit_test"></measure-bar>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 text-center">
        <measure-bar class="animate-hide" ng-show="!item.expanded" measure-data="item.data.measures.functional_test"></measure-bar>
    </div>
    <div uib-collapse="!item.expanded" class="col-md-12 col-sm-12 col-xs-12">
        <div class="row padded-top">
            <div class="col-md-15 col-sm3">
                <metrics-measurement item-metrics="item.data.measures.metrics"></metrics-measurement>
            </div>
            <div class="col-md-15 col-sm3">
                <build-measurement item-build="item.data.measures.build"></build-measurement>
            </div>
            <div class="col-md-15 col-sm3">
                <test-measurement title="Unit Test" item="item" measurement-index="unit_test"></test-measurement>
            </div>
            <div class="col-md-15 col-sm3">
                <test-measurement title="Functional Test" item="item" measurement-index="functional_test"></test-measurement>
            </div>
            <div class="col-md-15 col-sm3">
                <div class="padded-left padded-right">
                    <p class="text-center color-black">Result</p>
                    <div class="results">
                        <execution-result item="item"></execution-result>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>