<h2 class="text-center padded-bottom">PANEL CONTROL</h2>

<div class="container">
    <div class="row crossover-header">
        <div class="col-md-3 col-sm-6 col-xs-6 text-center"><p class="lead">Changelist / Build</p></div>
        <div class="col-md-1 col-sm-2 col-xs-6 text-center"><p class="lead">Owner</p></div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center"><p class="lead">Time Started</p></div>
        <div class="col-md-1 col-sm-4 col-xs-6 text-left text-center-xs text-center-md text-center-lg"><p class="lead">State</p></div>
        <div class="col-md-1 col-sm-2 col-xs-6 text-center"><p class="lead">Metrics</p></div>
        <div class="col-md-1 col-sm-2 col-xs-6 text-center"><p class="lead">Build</p></div>
        <div class="col-md-1 col-sm-2 col-xs-6 text-center"><p class="lead">Unit Test</p></div>
        <div class="col-md-1 col-sm-2 col-xs-6 text-center"><p class="lead">Functional Test</p></div>
    </div>
    <!-- Judgement call: Pending items don't expand -->
    <div ng-repeat="item in items_collection.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-class="'animate-repeat row crossover-item ' + 'primary-color-' + item.getColorClass()" ng-click="!item.isPending() && openItemDetails(item)">
        <crossover-item item="item"></crossover-item>
    </div>

    <div class="text-center">
        <uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
    </div>

    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
