<h1>Hello</h1>

<p>Play with the table (sort, filter, page) Then refresh the page or re run the plunk. Your table should be restored</p>

<table st-persist="crossover_items" st-table="itemsCollection" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="item_type"></th>
            <th st-sort="code">Changelist / Build</th>
            <th st-sort="owner">Owner</th>
            <th st-sort="time_started">Time Started</th>
            <th st-sort="result_status">State</th>
            <th st-sort="measures.metrics">Metrics</th>
            <th st-sort="measures.build">Build</th>
            <th st-sort="measures.unit_test">Unit Test</th>
            <th st-sort="measures.functional_test">Functional Test</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="item in itemsCollection">
            <td>{{ item.getItemPicture() }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.owner }}</td>
            <td>{{ item.time_started | date: 'MM/dd/yyyy h:mma' }}</td>
            <td>{{ item.getResultState() }}</td>
            <td><measure-bar ng-if="!item.expanded" measure-data="item.measures.metrics"></measure-bar></td>
            <td><measure-bar ng-if="!item.expanded" measure-data="item.measures.build"></measure-bar></td>
            <td><measure-bar ng-if="!item.expanded" measure-data="item.measures.unit_test"></measure-bar></td>
            <td><measure-bar ng-if="!item.expanded" measure-data="item.measures.functional_test"></measure-bar></td>
        </tr>
        <tr ng-if="item.expanded" ng-repeat-end="">
            <td colspan="9">Details if {{ item.name }} goes here</td>
        </tr>
    </tbody>
</table>